<%include header%>
<div class="box">
    
      <h3>Name</h3>
      <label for="name"></label>
      <input type="text" id="name" name="Name">
      
      <h3>Email</h3>
      <label for="Email"></label>
      <input type="text" id="email" name="email">
      
      <h3>message</h3>
      <label for="message"></label>
      <textarea id="message" name="message"style="height:130px"></textarea>
      <input type="submit" value="Submit">
  </div>
  <% include footer %>
