<html>
    <head>
            <link type="text/css" rel="stylesheet" href="mywebsite.css">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <title> KrishnaVeni karri</title>
    
    </head>
    <body>
        <!--main division that contais all divisions-->
        <div class="maindiv" class="container-fluid">
            <!--headding division-->
            <div class= "heading">
                KrishnaVeni Karri
            </div>
            <!--image div-->
            <div><img id="image" src="profile.jpg" height="100" width="100"></div>
            <!--end of headding division-->
            <!--navigation bar division-->
               <div> 
                   <nav>
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/surprise">Surprise</a></li>
                        <li><a href="/contact">Contact</a></li>
						<li><a href="guestbook">GuestBook</a></li>
                    </ul>
                    </nav>
                </div>
