<% include header %>
<div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/f_huyKGDvUQ" frameborder="0" allowfullscreen></iframe>
</div>
<!--bigbox division-->
<div class="bigbox">
    
        <div id= "content">
            <p>
            <h3>Background</h3>
            I am from Andhra Pradesh, India. I graduated in 2012 from Andhra University and my major in Bachelors is Computer Science.
            I worked as Systems Engineer for Computer Sciences Corp. India.Pvt.Ltd. for 2.5 years and Later promoted as MySQL DBA.
            I have been living in this country since 2015.
            </p>
            <p>
                    
            <h3>Plans</h3>
            My short term plan is to work hard and get good grades in this semester.
            It has really been 5 years since I finished my bachelors and since I havent take up any course work in school.
            </p>
            <p>
            <h3>Intrests</h3>
            
            I love hiking and travelling. My current travel intrest is visiting all national parks in United States. 
            So far I have covered parks in Arizona, california, colorado,Smokeys in Tenesse, Honolulu, Maui. 
            Hopefully, I will check all the states from my bucket list in 10 years :)
            </p>
         </div>
</div>
<% include footer %>