<%include header%>
<div id ="surp" class = "container fluid">
    <div id="die1" class="dice">d1</div>
    <div id="die2" class="dice">d2</div>
    <button onclick="rollDice()">Roll Dice</button>
    <h2 id="status" style="clear:left;"></h2>
        </div>
<%include footer%>